<div class="log-out">
  <button (click)="logOut()" class="btn btn-default">
    <i class="fa fa-sign-out" aria-hidden="true"></i>
    LogOut
  </button>
</div>
<div class="container">
  <div>
    <div class="row add-row">
      <div class="col-lg-6 col-md-7 col-md-10">
        <button class="btn btn-success" type="button" (click)="add()">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
      </div>
    </div>
    <table class="table table-striped table-bordered table-hover">
      <thead>
      <tr>
        <th [class.active]="order === 'id'"
            (click)="setOrder('id')">
          Id
          <span [hidden]="(order != 'id') || reverse">▼</span>
          <span [hidden]="(order != 'id') || !reverse">▲</span>
        </th>
        <th [class.active]="order === 'text'"
            (click)="setOrder('text')">
          Text
          <span [hidden]="(order != 'text') || reverse">▼</span>
          <span [hidden]="(order != 'text') || !reverse">▲</span>
        </th>
        <th [class.active]="order === 'status'"
            (click)="setOrder('status')">
          Status
          <span [hidden]="(order != 'status') || reverse">▼</span>
          <span [hidden]="(order != 'status') || !reverse">▲</span>
        </th>
        <th >
          Action
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let todo of todos | orderBy: order:reverse:'case-insensitive'">
        <td>{{ todo.id }}</td>
        <td>{{ todo.text }}</td>
        <td>{{ todo.status }}</td>
        <td>
          <button class="btn btn-sm colum-action"
                  placement="top" ngbTooltip="Delete item"
                  (click)="open(confirm, todo.id)"
                  type="button">
            <i class="fa fa-trash text-danger"></i>
          </button>
          <!--(click)="delItem(todo)"-->
          <button class="btn btn-sm colum-action"
                  placement="top" ngbTooltip="Edit item"
                  [routerLink]="['/edit/'+todo.id]"
                  type="button">
            <i class="fa fa-pencil"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #confirm let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Confirm delete</h4>
    <button type="button" class="close" aria-label="Close" (click)="d(false)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Delete?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c(true)">Yes</button>
    <button type="button" class="btn btn-outline-dark" (click)="d(false)">No</button>
  </div>
</ng-template>
